name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]

  push:
    branches:
      - main
      - "releases/*"

jobs:
  backend-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'

    env:
      GOOGLE_CLOUD_LOCATION: global
      MODEL_NAME: gpt-2.5-pro
      SHOW_MODEL_THINKING: true
      VERTEX_AI_DATASTORE: tenantfirstaid-corpora_1758844059585

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "backend/uv.lock"
          # Install a specific version of uv.
          version: "0.9.7"

      - name: Set up Python
        run: uv python install 3.13

      - name: Sync dependencies
        run: uv sync --dev

      - name: Run formatter checks
        run: uv run ruff format --check

      - name: Run lint checks
        run: uv run ruff check

      - name: Run type checks
        run: uv run ty check

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ vars.GOOGLE_CLOUD_PROJECT }}
          credentials_json: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_CREDENTIALS}}
          export_environment_variables: true  # sets GOOGLE_CLOUD_PROJECT in env
          create_credentials_file: true  # sets GOOGLE_APPLICATION_CREDENTIALS in env

      - name: Run tests
        run: uv run pytest -v -s

  frontend-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run linting checks
        run: npm run lint
      - name: Run format fixes
        run: npx prettier --write .

      - name: Run frontend tests
        run: npm run test

      - name: Build frontend
        run: npm run build
