name: PR Checks

on:
  # NOTE: since the majority of PRs will originate from forks, we cannot rely on
  # repo secrets or vars being available in the pull_request event.
  pull_request:
    types: [opened, synchronize, reopened]

  push:
    branches:
      - main
      - "releases/*"

jobs:
  backend-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    # Add "id-token" with the intended permissions.
    permissions:
      contents: 'read'
      id-token: 'write'

    env:
      GOOGLE_CLOUD_LOCATION: global
      MODEL_NAME: gemini-2.5-pro
      SHOW_MODEL_THINKING: true
      VERTEX_AI_DATASTORE: tenantfirstaid-corpora_1758844059585
      # detect if this is a PR from a forked repo
      PR_FROM_FORK: ${{ github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name }}

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "backend/uv.lock"
          # Install a specific version of uv.
          version: "0.9.7"

      - name: Set up Python
        run: uv python install 3.13

      - name: Sync dependencies
        run: uv sync --dev

      - name: Run formatter checks
        run: uv run ruff format --check

      - name: Run lint checks
        run: uv run ruff check

      - name: Run type checks
        run: uv run ty check

      - name: Authenticate with Google Cloud (when not from a forked repo)
        if: env.PR_FROM_FORK != 'true'
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ vars.GOOGLE_CLOUD_PROJECT }}
          credentials_json: '${{ secrets.GOOGLE_SERVICE_ACCOUNT_CREDENTIALS }}'
          export_environment_variables: true  # sets GOOGLE_CLOUD_PROJECT in env
          create_credentials_file: true  # sets GOOGLE_APPLICATION_CREDENTIALS in env

      - name: Set fake Google Cloud credentials (when from a forked repo)
        if: env.PR_FROM_FORK == 'true'
        env:
          GOOGLE_CLOUD_PROJECT: ${{ github.workflow_ref }}-fake-google-cloud-project
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workflow_ref }}/tmp/fake-google-credentials.json
        run: |
          echo "GOOGLE_CLOUD_PROJECT=$GOOGLE_CLOUD_PROJECT" >> $GITHUB_ENV
          echo "GOOGLE_APPLICATION_CREDENTIALS=$GOOGLE_APPLICATION_CREDENTIALS" >> $GITHUB_ENV

      # NOTE: tests require GOOGLE_* env vars to be set from one of the above steps
      - name: Run tests that mock services that require repo secrets
        run: uv run pytest -v -s -m "not require_repo_secrets"

      - name: Run additional tests that require repo secrets
        if: env.PR_FROM_FORK != 'true'
        run: uv run pytest -v -s -m "require_repo_secrets"

  frontend-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run linting checks
        run: npm run lint

      - name: Run format fixes
        run: npx prettier --write .

      - name: Run frontend tests
        run: npm run test

      - name: Build frontend
        run: npm run build
